body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  text-align: left;
}
th,
td {
  border: 1px solid #000000;
  padding: 10px;
}

caption {
  font-weight: bold;
  padding: 10px;
  background-color: lightgray;
}

tfoot {
  background-color: gray;
  font-weight: bold;
}

.num {
  text-align: right;
}